* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  flex-wrap: rap;
}

h1 {
  margin-top: 50px;
}

h4 {
  display: flex;
}

.col-8 {
  background-color: white;
  padding: 150px;
}

.checkbox-container {
  position: relative;
  padding: 20px;
  width: 40%;
  height: 140px;
  left: 50%;
  bottom: 140px;
  border: 2px solid #eaeaea;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  text-align: left;
}

.row {
  height: 100%;
}

.password-options {
  position: relative;
  height: 350px;
  padding: 40px;
  border: 2px solid #eaeaea;
  box-shadow: 0 2px 8px rgba(0,0,0, .15);
  border-radius: 15px;
}

.container-fluid {
  background-color: #F5A623;
}

.slider-container {
  position: relative;
  margin-top: 10px;
  margin-right: 20px;
  height: 140px;
  width: 40%;
  border: 2px solid #eaeaea;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  border-radius: 10px;
  padding: 0 50px 0 35px;
  
}

.legnth-container {
  position: absolute;
}

#label-text {
  display: flex;
  margin-top: 40px;
}

.slider-value {
  position: relative;
  width: 100%;
}

#length-value {
  position: absolute;
  height: 45px;
  width: 45px;
  color: #fff;
  font-weight: 500;
  top: 0px;
  transform: translateX(-70%);
  transform-origin: bottom;
  line-height: 55px;
  z-index: 2;

}

#length-value:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #664AFF;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border: 3px solid #fff;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.value {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: #664AFF;
}

.left {
  left: -22px;
}

.right {
  right: -35px;
}

.slider-container .slider {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #664AFF;
  border-radius: 50%;
  border: 1px solid #664AFF;
  cursor: pointer;
}

.slider-container .slider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #664AFF;
  border-radius: 50%;
  border: 1px solid #664AFF;
  cursor: pointer;
}

/*
  CSS for the checkbox-container
*/
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}
