* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 50px;
  text-align: center;
  background-color: #664AFF;
}

.slider-container {
  height: 80px;
  width: 380px;  
  background-color: #fff; 
  border-radius: 10px;
  padding: 0 65px 0 45px;
}

.slider-value {
  position: relative;
  width: 100%;
}



.slider-value span {
  position: absolute;
  height: 45px;
  width: 45px;
  color: #fff;
  font-weight: 500;
  top: -40px;
  transform: translateX(-70%);
  transform-origin: bottom;
  line-height: 55px;
  z-index: 2;

}

.slider-value span:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #664AFF;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border: 3px solid #fff;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.field .value {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: #664AFF;
}

.field .value.left {
  left: -22px;
}

.field .value.right {
  right: -43px;
}

.slider-container input {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.slider-container input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #664AFF;
  border-radius: 50%;
  border: 1px solid #664AFF;
  cursor: pointer;
}

.slider-container input::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #664AFF;
  border-radius: 50%;
  border: 1px solid #664AFF;
  cursor: pointer;
}

